{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Log In
{% endblock %}
{% block navbar %}
<h2 class="text-center">Virtual Table Quiz App</h2>
{% endblock %}
{% block content%}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=540012860290259&autoLogAppEvents=1" nonce="I8kTpVtk"></script><script>
  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.

    if (response.status === 'connected') {
      FB.api('/me', function(response) { // retrieves facebook account info
        document.getElementById('status').innerHTML = 'Logged in as ' + response.name;
        // Adds button to form within template
        document.getElementById('form').innerHTML = 
        `<button type="submit" class="btn btn-primary btn-lg btn-block" name="username" value="${response.name}">Enter Quiz</button>`;
      });

    } else {          
      // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }

  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '540012860290259',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v10.0'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };

</script>


<!-- The JS SDK Login Button -->
<div class="cold-md-10" style="width:400px; margin:0 auto; position:relative; top: 20px;">
  <div class="fb-login-button" data-width="400" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" onLogin="checkLoginState()"></div>

  <div id="status" style=>

  </div>
  <form id="form" method="POST">

  </form>
</div>



<!-- Load the JS SDK asynchronously -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> -->
{% endblock %}