{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Enter name
{% endblock %}

{% block navbar %}
<h2 class="text-center">Virtual Table Quiz App</h2>
{% endblock %}

{% block content%}
<h2 style="text-align:center">Welcome</h2>
<div class="cold-md-10" style="width:400px; margin:0 auto;">
<form action="" method="POST">
    <input name = "username" type="text" class="form-control"  placeholder="User Name"/>
    <button style="margin:auto; display:block;" type="submit" class="btn btn-primary">Enter quiz</button>
</form>
</div>
{% endblock %}